@model C__MVC_Assessment.Models.Company

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Company</title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
