@model C__MVC_Assessment.Models.Company

@{
    ViewBag.Title = "Edit Company";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Companies", null, FormMethod.Post, false, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary("Unable to edit company:", new { @class = "alert alert-danger" })

    <h3></h3>

    @Html.Partial("_CompanyForm")

    <div class="row">
        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg margin-right">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <a href="@Url.Action("Detail", new { id = Model.Id })" class="btn btn-warning btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        </div>
    </div>
}